.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url("../../assets/images/surf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  gap: 50px;

  .title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 20%;
    color: white;
    text-shadow: 10px 10px gray;
    border-radius: 20px;
    border: 20px double whitesmoke;
    background-color: lightgray;
    font-size: 100px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    margin-top: 150px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 40%;
    margin-bottom: 350px;

    input {
      padding-left: 20px;
      background-color: whitesmoke;
      width: 100%;
      height: 30px;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      border: 5px solid darkgray;
      font-size: 15px;
      outline-color: burlywood;
      border-radius: 20px;

      &:hover {
        cursor: pointer;
        color: white;
        background-color: gray;
      }
    }
  }
}
