html,
body {
  overflow-x: hidden;
  overflow: overlay;
  margin: 0px;
  scroll-behavior: smooth;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
}

a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: grey;
  text-decoration: none;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
