html,
body {
  max-height: 100%;
  max-width: 100%;
  margin: 0px;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 80px;
}
